@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="site.css" />

<div class="text-center">

    <h1 class="display-4">My website</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <iframe width="420" height="345" src="https://youtu.be/ZEcqHA7dbwM">
    </iframe>

</div>

<p><button onclick="myMove()">Click Me</button></p>

<div id="container">
    <div id="animate"></div>
</div>

